﻿<form id="matrixForm">
    <table id="matrixTable">
    </table>
    <label>
        Size <input type="text" id="size"/>
    </label>
    <input type="button" id="random" value="Random" />
    <input type="button" id="rotate" value="Rotate" />
    <input type="button" id="save" value="Save" />
    <input type="button" id="load" value="Load" />

</form>

<script>
    rotate.onclick = function () {

        data = GetMatrix();

        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/home/rotate', false);
        xhr.setRequestHeader('Content-type', 'application/json');

        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
        if (xhr.status != 200) {
            alert(xhr.status + ': ' + xhr.statusText);
        } else {
            var newMatrix = JSON.parse(xhr.responseText);

            SetMatrix(newMatrix);
        }
    }

    save.onclick = function () {
        data = GetMatrix();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/home/save', false);
        xhr.setRequestHeader('Content-type', 'application/json');
        var jsonData = JSON.stringify(data);
        xhr.send(jsonData);
        if (xhr.status != 200) {
            alert(xhr.status + ': ' + xhr.statusText);
        }
    }

    load.onclick = function () {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/home/load', false);
        xhr.send();
        if (xhr.status != 200) {
            alert(xhr.status + ': ' + xhr.statusText);
        } else {
            var newMatrix = JSON.parse(xhr.responseText);
            SetMatrix(newMatrix);
        }
    }

    random.onclick = function () {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/home/random', false);
        xhr.setRequestHeader('Content-type', 'application/json');
        var jsonData = JSON.stringify(document.forms['matrixForm'].elements['size'].value);
        xhr.send(jsonData);

        if (xhr.status != 200) {
            alert(xhr.status + ': ' + xhr.statusText);
        } else {
            var newMatrix = JSON.parse(xhr.responseText);
            SetMatrix(newMatrix);
        }
    }

    function GetMatrix() {

        var data = [];
        document.getElementById('matrixTable').childNodes.forEach(function (row, i, arr) {
            data[i] = new Array();
            row.childNodes.forEach(function (item, j, arr) {

                data[i][j] = item.firstChild.value;
            })
        });
        return data;
    }

    function SetMatrix(matrix) {
        var table = document.getElementById('matrixTable');
        while (table.firstChild) {
            table.removeChild(table.firstChild);
        }

        for (i = 0; i < matrix.length; i++) {
            var newRow = table.appendChild(document.createElement('tr'));
            for (j = 0; j < matrix.length; j++) {
                var td = document.createElement('td');
                var input = document.createElement('input');
                input.setAttribute('type', 'text');
                input.setAttribute('value', `${matrix[i][j]}`);
                td.appendChild(input);
                newRow.appendChild(td);
            }
        }
    }
</script>
